body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: rgb(199, 14, 14);
  }
  .header {
    padding: 10px;
    text-align: center;
    background: grey;
    color: white;
    font-size: 25px;
  }
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: gray;
    color: black;
  }
  a {
    border: 1px solid black;
  }
  