body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
h1{
  font-family: "Andale Mono", monospace;
  font-size: 200%;
  text-align: center;

}
h2{
  font-family: "Andale Mono", monospace;
  font-size: 150%;
  text-align: center;
}
p{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 150px;
  margin-left: 150px;
}
  .topnav {
    overflow: hidden;
    background-color: rgb(199, 14, 14);
  }
  .header {
    padding: 10px;
    text-align: center;
    background: grey;
    color: white;
    font-size: 25px;
  }
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: gray;
    color: black;
  }
  a {
    border: 1px solid black;
  }
  